## Patrick Adams 
## 1231065
### DTSC 620 Project 1

In [3]:
#imports
import pandas as pd
import numpy as np

import

In [4]:
# loading the dataset into a dataframe
spam_df = pd.read_csv("spam.csv")

In [5]:
spam_df.head()

,make,address,all,3d,our,over,remove,internet,order,mail,...,semicol,paren,bracket,bang,dollar,pound,cap_avg,cap_long,cap_total,Class
0,0.00,0.00,0.29,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.178,0.0,0.044,0.000,0.00,1.666,10,180,ham
1,0.46,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.125,0.0,0.000,0.000,0.00,1.510,10,74,ham
2,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.000,0.000,0.00,1.718,11,55,ham
3,0.33,0.44,0.37,0.0,0.14,0.11,0.00,0.07,0.97,1.16,...,0.006,0.159,0.0,0.069,0.221,0.11,3.426,72,819,spam
4,0.00,2.08,0.00,0.0,3.12,0.00,1.04,0.00,0.00,0.00,...,0.000,0.000,0.0,0.263,0.000,0.00,1.428,4,20,spam

In [7]:
#making Class quantatative instead of catagorical
class_dummy_var = pd.get_dummies(spam_df[["Class"]])

In [11]:
#merge dummy variables with the main dataframe
spam_df = pd.concat([spam_df, class_dummy_var], axis=1)

In [13]:
#dropping original categorical data
spam_df.drop(["Class"], axis = 1, inplace=True)

In [ ]:
heart_features = df.drop("num", axis = 1)
heart_target = df["num"]

heart_training_data, heart_test_data, heart_training_target, heart_test_target = train_test_split(heart_features, heart_target, test_size=0.20,random_state=42)